# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Mattias\Dropbox\0.KYH_IOT\03.IOT20_Datastrukturer_&_algoritmer\Lectures\HelloWorld\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
