# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Matti\Dropbox\0.KYH_IOT\04. IoT20 Datorkommunikation\Demo\IOT20__Datorkommunikation_MQTT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
